/* ===== RESET ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI",sans-serif;
}

/* ===== BODY ===== */
body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  background:linear-gradient(#e6eef7,#cfd9e6);

  overflow:hidden;
}

/* ===== CONTAINER ===== */
.container{
  position:relative;
  width:900px;
  height:520px;
}

/* ===== GROUP ===== */
.group{
  position:absolute;
  left:50%;
  top:50%;

  transition:all 0.6s ease;
}

/* LEFT */
.group.left{
  transform:translate(-400px,-50%) scale(0.9);
  opacity:0.7;
  z-index:2;
}

/* CENTER */
.group.center{
  transform:translate(-50%,-50%) scale(1.05);
  z-index:5;
}

/* RIGHT */
.group.right{
  transform:translate(180px,-50%) scale(0.9);
  opacity:0.6;
  z-index:2;
}

/* ===== FLOAT ===== */
.float{
  animation:float 4s ease-in-out infinite;
}

@keyframes float{
  50%{
    transform:translateY(-10px);
  }
}

/* ===== CARD ===== */
.card{
  padding:25px;
  border-radius:28px;

  background:linear-gradient(
    145deg,
    rgba(255,255,255,0.75),
    rgba(220,230,245,0.6)
  );

  backdrop-filter:blur(6px);

  box-shadow:
    inset 0 2px 8px rgba(255,255,255,0.9),
    0 30px 70px rgba(0,0,0,0.15);

  transition:all 0.4s ease;

  max-height:420px;
  overflow-y:auto;

  pointer-events:none;
  opacity:0.6;
}

/* ACTIVE */
.group.center .card{
  pointer-events:all;
  opacity:1;
}

/* SIDE BLUR */
.group.left .card,
.group.right .card{
  filter:blur(1px);
}

/* ===== SIZE ===== */
.big{
  width:400px;
}

.small{
  width:240px;
}

/* ===== TITLE ===== */
.card h2{
  text-align:center;
  margin-bottom:12px;
}

/* ===== INPUT ===== */
input{
  width:100%;
  padding:12px;
  margin:6px 0;

  border:none;
  outline:none;

  border-radius:16px;

  background:linear-gradient(
    145deg,
    #eef3f9,
    #dde6f3
  );

  box-shadow:
    inset 5px 5px 10px rgba(0,0,0,0.1),
    inset -5px -5px 10px rgba(255,255,255,0.9);
}

/* ===== BUTTON ===== */
button{
  width:100%;
  padding:12px;
  margin-top:10px;

  border:none;
  cursor:pointer;

  border-radius:22px;

  background:linear-gradient(
    135deg,
    #000000,
    #565656
  );

  color:white;

  box-shadow:
    inset 0 2px 6px rgba(255,255,255,0.9),
    0 12px 25px rgba(0,0,0,0.25);

  transition:0.25s;
}

button:hover{
  transform:scale(1.05);
}

button:active{
  transform:scale(0.95);
}

/* ===== AVATAR ===== */
.avatar-wrapper{
  display:flex;
  justify-content:center;
  margin-bottom:15px;
}

.avatar{
  width:90px;
  height:90px;

  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  background:rgba(255,255,255,0.3);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,0.5);

  overflow:hidden;
  cursor:pointer;

  transition:0.3s;
}

.avatar:hover{
  transform:scale(1.08);
}

.avatar img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:none;
}

.avatar-icon{
  font-size:32px;
  color:#3b82f6;
}

/* ===== SECTION ===== */
.section{
  margin-bottom:20px;
}

.section-title{
  font-size:14px;
  margin-bottom:10px;
  color:#444;
}

/* ===== GRID ===== */
.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:12px;
}

/* ===== OPTION ===== */
.option{
  padding:16px;
  border-radius:18px;
  text-align:center;

  background:rgba(255,255,255,0.3);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,0.4);

  cursor:pointer;
  transition:0.25s;
}

.option:hover{
  transform:translateY(-4px) scale(1.03);
}

/* ACTIVE */
.option.active{
  background:linear-gradient(
    135deg,
    #2b2b2b,
    #000000
  );

  color:white;
}

/* ===== FULL GREEN INPUT BOXES ===== */
/* ===== FULL GREEN SUCCESS CARD ===== */
.card.done{

  background:linear-gradient(
    145deg,
    rgba(0, 110, 38, 0.98),
    rgba(40, 171, 92, 0.568)
  ) !important;

  border:1px solid rgba(0,255,140,0.35);

  box-shadow:
    inset 0 2px 12px rgba(255,255,255,0.75),
    0 0 30px rgba(46, 78, 64, 0.25),
    0 25px 80px rgba(19, 72, 33, 0.35) !important;

  transition:all 0.45s ease;
}

/* ===== GREEN INPUT BOXES ===== */
.card.done input{

  background:linear-gradient(
    145deg,
    rgba(17, 117, 57, 0.76),
    rgba(8, 69, 32, 0.348)
  ) !important;

  color:#063d24;

  border:1px solid rgba(0,255,140,0.25);

  box-shadow:
    inset 2px 2px 6px rgba(255,255,255,0.35),
    inset -2px -2px 6px rgba(0,120,60,0.12),
    0 0 12px rgba(0,255,140,0.18);

  transition:0.35s ease;
}

/* ===== INPUT PLACEHOLDER ===== */
.card.done input::placeholder{
  color:rgba(6,61,36,0.55);
}

/* ===== GREEN BUTTON ===== */
.card.done button{

  background:linear-gradient(
    135deg,
    rgba(19, 77, 45, 0.259),
    rgba(156, 231, 196, 0.4)
  ) !important;

  color:white;

  box-shadow:
    inset 0 2px 6px rgba(255,255,255,0.35),
    0 12px 28px rgba(0,255,140,0.35);

  transition:0.35s ease;
}

/* ===== GREEN TEXT ===== */
.card.done h2,
.card.done p{
  color:#81d067;
}

/* ===== PLACEHOLDER ===== */
.card.done input::placeholder{
  color:rgba(6,61,36,0.6);
}

/* ===== RINGS ===== */
.ring{
  position:absolute;
  bottom:-90px;
  left:50%;

  transform:translateX(-50%);

  border-radius:100%;

  background:radial-gradient(
    ellipse,
    rgba(74, 74, 74, 0.9),
    rgba(0, 0, 0, 0.3),
    transparent 60%
  
  );
}

.big-ring{
  width:320px;
  height:130px;
}

.small-ring{
  width:180px;
  height:70px;
}

/* ===== GREEN SUCCESS RING ===== */
.ring-green{

  background:radial-gradient(
    ellipse,
    rgba(0,255,140,0.9) 0%,
    rgba(0,255,140,0.45) 45%,
    rgba(0,255,140,0.12) 75%,
    transparent 100%
  );

  box-shadow:
    0 0 60px rgba(0,255,140,0.65),
    0 0 120px rgba(0,255,140,0.35);

  opacity:1;
}

/* ===== ALIGN ===== */
.align .group.left{
  transform:translate(-360px,-50%) scale(1);
}

.align .group.center{
  transform:translate(-50%,-50%) scale(1);
}

.align .group.right{
  transform:translate(260px,-50%) scale(1);
}

/* ===== COLLIDE ===== */
.colliding .group.left{
  transform:translate(-140px,-50%) scale(1);
}

.colliding .group.center{
  transform:translate(-50%,-50%) scale(1);
}

.colliding .group.right{
  transform:translate(40px,-50%) scale(1);
}

/* ===== COLLAPSE ===== */
.collapse .group.left,
.collapse .group.center,
.collapse .group.right{
  transform:translate(-50%,-50%) scale(0) !important;

  opacity:0 !important;

  filter:blur(20px);

  transition:all 0.8s ease;
}

/* ===== FINAL CARD ===== */
#finalCard{
  position:fixed;

  top:50%;
  left:50%;

  transform:translate(-50%,-50%) scale(0);

  width:220px;
  height:120px;

  border-radius:30px;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:42px;
  font-weight:bold;

  color:white;

  background:linear-gradient(
    135deg,
    #000000,
    #919191
  );

  opacity:0;

  z-index:9999;

  transition:all 0.8s ease;
}

/* SHOW */
.showFinal{
  opacity:1 !important;

  transform:translate(-50%,-50%) scale(1);
}

/* ZOOM */
.zoomFull{
  width:300vw !important;
  height:300vh !important;

  border-radius:0 !important;

  transform:translate(50%,50%) scale(2.2);

  transition:all 1.2s ease-in-out;
}

/* ===== HIDE SCROLLBAR ===== */
.card{
  scrollbar-width:none; /* Firefox */
}

.card::-webkit-scrollbar{
  display:none; /* Chrome */
}

/* ===================================================== */
/* ================= LOGIN DARK MODE =================== */
/* ===================================================== */

body.dark-mode{

  background:
  linear-gradient(
    135deg,
    #000000,
    #0f172a,
    #111827
  );
}

/* ================= CARD ================= */

body.dark-mode .card{

  background:
  linear-gradient(
    145deg,
    rgba(255,255,255,0.08),
    rgba(255,255,255,0.03)
  );

  border:1px solid rgba(255,255,255,0.08);

  box-shadow:
  inset 0 2px 8px rgba(255,255,255,0.08),
  0 25px 60px rgba(0,0,0,0.45);
}

/* ================= TEXT ================= */

body.dark-mode .card h2,
body.dark-mode .section-title{

  color:white;
}

/* ================= INPUT ================= */

body.dark-mode input{

  background:
  linear-gradient(
    145deg,
    rgba(255,255,255,0.08),
    rgba(255,255,255,0.03)
  );

  color:white;

  border:1px solid rgba(255,255,255,0.08);

  box-shadow:
  inset 0 2px 5px rgba(255,255,255,0.05),
  0 8px 20px rgba(0,0,0,0.25);
}

/* ================= PLACEHOLDER ================= */

body.dark-mode input::placeholder{

  color:#cbd5e1;
}

/* ================= OPTIONS ================= */

body.dark-mode .option{

  background:
  linear-gradient(
    145deg,
    rgba(255,255,255,0.08),
    rgba(255,255,255,0.03)
  );

  color:white;

  border:1px solid rgba(255,255,255,0.08);
}

/* ================= ACTIVE OPTION ================= */

body.dark-mode .option.active{

  background:
  linear-gradient(
    135deg,
    rgba(255,255,255,0.95),
    rgba(255,255,255,0.72)
  );

  color:black;
}

/* ================= BUTTON ================= */

body.dark-mode button{

  background:
  linear-gradient(
    145deg,
    rgba(255,255,255,0.95),
    rgba(255,255,255,0.72)
  );

  color:black;
}

/* ================= AVATAR ================= */

body.dark-mode .avatar{

  background:
  linear-gradient(
    145deg,
    rgba(255,255,255,0.08),
    rgba(255,255,255,0.03)
  );
}

/* ================= RINGS ================= */

body.dark-mode .ring{

  background:
  radial-gradient(
    ellipse,
    rgba(255,255,255,0.55),
    rgba(255,255,255,0.08),
    transparent 70%
  );
}

/* ===================================================== */
/* ================= INTRO SCREEN ====================== */
/* ===================================================== */

#introScreen{

  position:fixed;

  top:0;
  left:0;

  width:100%;
  height:100%;

  overflow:hidden;

  z-index:999999;

  background:black;

  display:flex;
  justify-content:center;
  align-items:center;

  transition:
  opacity 1.2s ease,
  visibility 1.2s ease;
}

/* ===================================================== */
/* ================= INTRO SCREEN ====================== */
/* ===================================================== */

#introScreen{

  position:fixed;

  inset:0;

  width:100vw;
  height:100vh;

  background:black;

  z-index:999999999;

  overflow:hidden;

  display:flex;
  justify-content:center;
  align-items:center;

  transition:
  opacity 1.2s ease,
  visibility 1.2s ease;
}

/* ===================================================== */
/* ================= INTRO VIDEO ======================= */
/* ===================================================== */

#introVideo{

  position:absolute;

  inset:0;

  width:100%;
  height:100%;

  object-fit:cover;

  background:black;
}

/* ===================================================== */
/* ================= HIDE INTRO ======================== */
/* ===================================================== */

.hideIntro{

  opacity:0;

  visibility:hidden;

  pointer-events:none;
}